/* milligram stuff */
.wrapper { display: block; overflow: hidden; position: relative; width: 100%; background: #f9f9f9 }
.wrapper .container { max-width: 80rem }
.wrapper section.container img { width: 100% }
.wrapper .navigation section.container img { width: inherit }

/*.wrapper>.container { padding-bottom: 8.5rem; padding-top: 2rem }*/
.target-container { padding: 8.5rem 0 }

.wrapper.floathead>.container { padding-top: 8.5rem }

.header { background-color: #f4f5f6; padding-top: 1rem }
@media (min-width: 40rem) {
	.header { padding-top: 5rem }
}
.header+section { border-top: 0 }
.header .container { border-top: 0; padding-bottom: 7.5rem; padding-top: 7.5rem; position: relative; text-align: center }
.header .title { font-family: Gotham Rounded A, Gotham Rounded B, Helvetica Neue, Arial, sans-serif }
.header .img { height: 15rem; margin-bottom: 2rem }
.header .img path { fill: #9b4dca; stroke: #9b4dca; stroke-miterlimit: 10; stroke-width: 15px; stroke-dasharray: 38321; animation: 7s a forwards }
.header .button { margin-bottom: 4rem; margin-top: 2rem }
@media (min-width: 40rem) {
	.header .button { margin-bottom: 4rem; margin-top: 2rem }
}
.navigation { background: #ffffff; display: block; height: 7rem; left: 0; max-width: 100%; width: 100%; border-bottom: 1px solid #fafafa}
.wrapper.floathead .navigation { position: fixed; right: 0; top: 0; z-index: 1; border-bottom: 0; box-shadow: 0 2px 2px -2px rgba(0,0,0,.15) }
.navigation .container { padding-bottom: 0; padding-top: 0; max-width: 100rem }
.navigation .navigation-list { list-style: none; margin-bottom: 0; margin-right: 0; margin-top: 1rem }
.navigation .navigation-item { float: right; margin-bottom: 0; margin-top: 0.3rem; position: relative }
.navigation .img { fill: #9b4dca; height: 2rem; position: relative; top: .3rem }
.navigation .navigation-title,
.navigation .title { color: #f00; font-family: Gotham Rounded A, Gotham Rounded B, Helvetica Neue, Arial, sans-serif; position: relative }
.navigation a {color: #ffffff}
.navigation .navigation-link,
.navigation .navigation-title,
.navigation .title { display: inline; font-size: 1.6rem; line-height: 7rem; padding: 0; text-decoration: none }
.navigation .navigation-link.active { color: #606c76 }
.navigation .logo { margin-top: 2rem; height: 3rem }


.navigation.headroom { will-change: transform; transition: transform 200ms linear; }
.navigation.headroom--pinned { transform: translateY(0%); }
.navigation.headroom--unpinned { transform: translateY(-100%); }


/* Specific things */
h1 {font-size: 4.6rem; font-weight: normal; margin-top: 2.4rem}

ul { list-style: disc; padding-left: 2rem; }

a {text-decoration: underline;}
a:focus {outline:0;}

code[class*=language-], pre[class*=language-] {text-shadow: 0; background: #272822}

a.anchor {text-decoration: none; color: #9ab833; -o-transition:color .5s ease-out; -ms-transition:color .5s ease-out; -moz-transition:color .5s ease-out; -webkit-transition:color .5s ease-out; transition:color .5s ease-out; }
a.anchor:hover {color: #5b740d}

/* Offset clicked anchor links, ref: http://stackoverflow.com/a/13184714/6637365 */
a.anchor:before { content:""; display:block; height: 8rem; margin:-8rem 0 0; }

/* Bottom footer ref: https://codepen.io/cbracco/pen/zekgx */
.footer { position: absolute; right: 0; bottom: 0; left: 0; padding: 2rem; background-color: #fafafa; color: #333; text-align: center; min-height: 6rem }

/* ref: http://stackoverflow.com/questions/22627458/how-to-add-class-in-image-markdown-in-ghost */
.wrapper section.container img[src$='#main-img'] { margin-left:-100%; margin-right:-100%; width: 300%; max-width: 300%; }

.wrapper section.container img[src$='#inline'] {width: inherit;}

.main-intro {color: #999; font-size: 2rem}

.share-widget { display: block; opacity: 0; position: fixed; top: 15rem; margin-left: -10rem; width: 3.2rem; transition: opacity 0.5s ease-in;}

.share-widget a { display: block; margin-bottom: 1rem; }
.share-widget a,
.navigation a.navigation-link { filter: grayscale(100%); opacity: 0.66; -o-transition:all .5s ease-out; -ms-transition:all .5s ease-out; -moz-transition:all .5s ease-out; -webkit-transition:all .5s ease-out; transition:all .5s ease-out; }
.share-widget a:hover,
.navigation a:hover.navigation-link {filter: grayscale(0%); opacity: 1}

@media (min-width: 60rem) {
	.share-widget.show{display: block; opacity: 1}
}

@media (max-width: 60rem) {
	.share-widget.show{ display: inline-block; opacity: 1, position: fixed; width: 14rem; top: 2rem; margin-left: 0; text-align: center; z-index: 1; left: 35%; }
	.share-widget a { display: inline-block; position: relative; margin-right:1rem; margin-bottom: 0; }
}

.table {
	overflow-y: scroll;
}

.blog-article {border-bottom: 1px solid #e2e2e2; padding-bottom: 6rem}
.blog-article-meta-info h4 {font-size: 1.4rem; font-weight: bold; color: #999}
.share-link {margin-right: 1rem}
